* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 1rem;
    font-family: sans-serif;
}
div {

}
a {
    text-decoration: none;
    margin-top: 1rem;
}

.container {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}
.container div {
    font-weight: bold;
    font-size: large;
    margin: 1rem;
    padding: 2rem;
    background-color: brown;

}
